{% extends "layout.html" %}

{% block heading %}
  Home
{% endblock %}

{% block body %}
  {% if loginstatus == 'True' %}
    <a href = "/{{curruser}}">Hey {{curruser}}</a>
    <a href="/{{curruser}}/completed">my watch list</a>
    <a href = "/logout">Logout</a>
  {% else %}
    <a href = "/login">Login</a>
    <a href = "/register">Register</a>
  {% endif %}
  <br><br>
  <form action="{{ url_for('search') }}" method="post">
    <input type="text" name="search" class="form-control" id="search" placeholder="Search">
    <br>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <br>
  <div class="container text-center my-3">
    <h2>Trending Movies</h2><br>
    <div class="row mx-auto my-auto">
      <div id="mtrending" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {% for m in mtrending %}
            <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
              <a href="{{url_for('description', id = m['wid'], movie_object = dict(m), access = 'local')}}">
                <img class="img-fluid" src="{{m['cover_url']}}" style="width:350px;height:400px;" alt="cover photo">
              </a>
            </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev w-auto" href="#mtrending" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next w-auto" href="#mtrending" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="container text-center my-3">
    <h2>Trending TV Shows</h2><br>
    <div class="row mx-auto my-auto">
      <div id="strending" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {% for s in strending %}
            <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
              <a href="{{url_for('description', id = s['wid'], movie_object = dict(s), access = 'local')}}">
                <img class="img-fluid" src="{{s['cover_url']}}" style="width:350px;height:400px;" alt="cover photo">
              </a>
            </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev w-auto" href="#strending" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next w-auto" href="#strending" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="container text-center my-3">
    <h2>Movies Coming Soon in Theatres</h2><br>
    <div class="row mx-auto my-auto">
      <div id="mupcoming" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {% for m in mupcoming %}
            {% if m['cover_url'] != "" %}
              <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
                <a href="{{url_for('description', id = m['wid'], movie_object = dict(m), access = 'local')}}">
                  <img class="img-fluid" src="{{m['cover_url']}}" style="width:350px;height:400px;" alt="cover photo">
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <a class="carousel-control-prev w-auto" href="#mupcoming" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next w-auto" href="#mupcoming" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="container text-center my-3">
    <h2>Top Rated Movies</h2><br>
    <div class="row mx-auto my-auto">
      <div id="mtoprated" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {% for m in mtoprated %}
            <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
              <a href="{{url_for('description', id = m['wid'], movie_object = dict(m), access = 'local')}}">
                <img class="img-fluid" src="{{m['cover_url']}}" style="width:350px;height:400px;" alt="cover photo">
              </a>
            </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev w-auto" href="#mtoprated" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next w-auto" href="#mtoprated" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="container text-center my-3">
    <h2>Top Rated TV Shows</h2><br>
    <div class="row mx-auto my-auto">
      <div id="stoprated" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {% for s in stoprated %}
            <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
              <a href="{{url_for('description', id = s['wid'], movie_object = dict(s), access = 'local')}}">
                <img class="img-fluid" src="{{s['cover_url']}}" style="width:350px;height:400px;" alt="cover photo">
              </a>
            </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev w-auto" href="#stoprated" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next w-auto" href="#stoprated" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="container text-center my-3">
    <h2>Netflix Originals</h2><br>
    <div class="row mx-auto my-auto">
      <div id="netflix" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {% for n in netflix %}
            <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
              <a href="{{url_for('description', id = n['wid'], movie_object = dict(n), access = 'local')}}">
                <img class="img-fluid" src="{{n['cover_url']}}" style="width:350px;height:400px;" alt="cover photo">
              </a>
            </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev w-auto" href="#netflix" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next w-auto" href="#netflix" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="container text-center my-3">
    <h2>Amazon Prime Video Originals</h2><br>
    <div class="row mx-auto my-auto">
      <div id="amazon" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {% for a in amazon %}
            <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
              <a href="{{url_for('description', id = a['wid'], movie_object = dict(a), access = 'local')}}">
                <img class="img-fluid" src="{{a['cover_url']}}" style="width:350px;height:400px;" alt="cover photo">
              </a>
            </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev w-auto" href="#amazon" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next w-auto" href="#amazon" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
