{% extends "layout.html" %}

{% block heading %}
  {{curruser}}'s Watched List
{% endblock %}

{% block body %}
  <a href="/">Home</a>
  <a href = "/">Hey {{curruser}}</a>
  <a href = "/logout">Logout</a>
  <br><br>
  {% for m in movies %}
    <a href="{{url_for('description', id = m['id'], movie_object = dict(m), access = 'local')}}">
      <img src="{{m['cover_url']}}" style="width:100px;height:150px;margin-left:5px;margin-right:15px;float:left;" alt="cover photo">
    </a>
    <div>{{loop.index}}. {{m.title}}</div>
    {% if 'movie' in m['kind'] %}
      <div>Release Date: {{m.release}}</div>
      <div>Duration: {{m.duration}} minutes</div>
    {% else %}
      <div>Years: {{m.release}}</div>
      <div>Avg. Duration: {{m.duration}} minutes</div>
    {% endif %}
    <div>Your Rating: {{ratings[loop.index-1]}}</div>
    <div>Genres: {{m.genres}}</div>
    <form action="{{url_for('removeWatched', id = m['id'])}}">
        <button type="submit" class="btn btn-primary">Remove</button>
    </form>
    <br><br>
  {% endfor %}
{% endblock %}
