{% extends "layout.html" %}

{% block heading %}
  Search Results
{% endblock %}

{% block body %}
  <a href="/">Home</a>
  {% if loginstatus == 'True' %}
    <a href="/{{curruser}}/completed">my watch list</a>
    <a href = "/logout">Logout</a>
  {% else %}
    <a href = "/login">Login</a>
    <a href = "/register">Register</a>
  {% endif %}
  <br><br>
  <div class="grid-container">
    {% for movie in movies %}
      <div class="grid-item">
        {% set a = access[loop.index-1] %}
        {% if 'movie' in movie['kind'] %}
          {% if a == 'imdb' %}
            {% if 'cast' in movie.keys() %}
              {% if movie['cast'][0] in movie['cast'] %}
                {% set c1 = movie['cast'][0].personID %}
                {% set n1 = movie['cast'][0]['name'] %}
                {% if movie['cast'][0].currentRole|length > 1 %}
                  {% set r1 = movie['cast'][0].currentRole[0]['name'] %}
                {% else %}
                  {% set r1 = movie['cast'][0].currentRole['name'] %}
                {% endif %}
              {% else %}
                {% set c1 = "" %}
                {% set n1 = "" %}
                {% set r1 = "" %}
              {% endif %}
              {% if movie['cast'][1] in movie['cast'] %}
                {% set c2 = movie['cast'][1].personID %}
                {% set n2 = movie['cast'][1]['name'] %}
                {% if movie['cast'][1].currentRole|length > 1 %}
                  {% set r2 = movie['cast'][1].currentRole[0]['name'] %}
                {% else %}
                  {% set r2 = movie['cast'][1].currentRole['name'] %}
                {% endif %}
              {% else %}
                {% set c2 = "" %}
                {% set n2 = "" %}
                {% set r2 = "" %}
              {% endif %}
              {% if movie['cast'][2] in movie['cast'] %}
                {% set c3 = movie['cast'][2].personID %}
                {% set n3 = movie['cast'][2]['name'] %}
                {% if movie['cast'][2].currentRole|length > 1 %}
                  {% set r3 = movie['cast'][2].currentRole[0]['name'] %}
                {% else %}
                  {% set r3 = movie['cast'][2].currentRole['name'] %}
                {% endif %}
              {% else %}
                {% set c3 = "" %}
                {% set n3 = "" %}
                {% set r3 = "" %}
              {% endif %}
              {% if movie['cast'][3] in movie['cast'] %}
                {% set c4 = movie['cast'][3].personID %}
                {% set n4 = movie['cast'][3]['name'] %}
                {% if movie['cast'][3].currentRole|length > 1 %}
                  {% set r4 = movie['cast'][3].currentRole[0]['name'] %}
                {% else %}
                  {% set r4 = movie['cast'][3].currentRole['name'] %}
                {% endif %}
              {% else %}
                {% set c4 = "" %}
                {% set n4 = "" %}
                {% set r4 = "" %}
              {% endif %}
              {% if movie['cast'][4] in movie['cast'] %}
                {% set c5 = movie['cast'][4].personID %}
                {% set n5 = movie['cast'][4]['name'] %}
                {% if movie['cast'][4].currentRole|length > 1 %}
                  {% set r5 = movie['cast'][4].currentRole[0]['name'] %}
                {% else %}
                  {% set r5 = movie['cast'][4].currentRole['name'] %}
                {% endif %}
              {% else %}
                {% set c5 = "" %}
                {% set n5 = "" %}
                {% set r5 = "" %}
              {% endif %}
            {% else %}
              {% set c1 = "" %}
              {% set n1 = "" %}
              {% set r1 = "" %}
              {% set c2 = "" %}
              {% set n2 = "" %}
              {% set r2 = "" %}
              {% set c3 = "" %}
              {% set n3 = "" %}
              {% set r3 = "" %}
              {% set c4 = "" %}
              {% set n4 = "" %}
              {% set r4 = "" %}
              {% set c5 = "" %}
              {% set n5 = "" %}
              {% set r5 = "" %}
            {% endif %}
            {% if 'plot outline' in movie.keys() %}
              {% set plot = movie['plot outline'] %}
            {% else %}
              {% if 'plot' in movie.keys() %}
                {% set plot = movie['plot'][0] %}
              {% else %}
                {% set plot = "NA" %}
              {% endif %}
            {% endif %}
            {% if 'runtimes' in movie.keys() %}
              {% set duration = movie['runtimes'][0] %}
            {% else %}
              {% set duration = "NA" %}
            {% endif %}
            {% if 'box office' in movie.keys() %}
              {% if 'Budget' in movie['box office'].keys() %}
                {% set budget = movie['box office']['Budget'] %}
              {% else %}
                {% set budget = "NA" %}
              {% endif %}
              {% if 'Cumulative Worldwide Gross' in movie['box office'].keys() %}
                {% set gross = movie['box office']['Cumulative Worldwide Gross'] %}
              {% else %}
                {% set gross = "NA" %}
              {% endif %}
            {% else %}
              {% set budget = "NA" %}
              {% set gross = "NA" %}
            {% endif %}
            {% if 'original air date' in movie.keys() %}
              {% set release = movie['original air date'][:11] %}
            {% else %}
              {% set release = "NA" %}
            {% endif %}
            {% if 'rating' in movie.keys() %}
              {% set rating = movie['rating'] %}
            {% else %}
              {% set rating = "NA" %}
            {% endif %}
            <a href="{{url_for('description', id = movie.movieID, movie_object = {'id': movie.movieID, 'title': movie['title'], 'kind': movie['kind'], 'release': release, 'rating': rating, 'duration': duration, 'budget': budget, 'worldwide_gross': gross, 'genres': movie['genres'], 'cast':[n1, n2, n3, n4, n5], 'cast_id': [c1, c2, c3, c4, c5], 'roles': [r1, r2, r3, r4, r5], 'summary': plot, 'cover_url': movie['full-size cover url']}, access = a)}}">
              <img src="{{movie['full-size cover url']}}" style="width:250px;height:375px" alt="cover photo">
            </a>
            {% if 'original air date' in movie.keys() %}
              <div>{{movie['title']}} ({{movie['original air date'][7:11]}})</div>
            {% else %}
              <div>{{movie['title']}}</div>
            {% endif %}
            <div>Rating: {{movie['rating']}}</div>
            <div>Duration: {{duration}} minutes</div>
            <div>Genres: {{movie['genres']}}</div>
            <form action="{{url_for('add', id = movie.movieID, movie_object = {'id': movie.movieID, 'title': movie['title'], 'kind': movie['kind'], 'release': release, 'rating': rating, 'duration': duration, 'budget': budget, 'worldwide_gross': gross, 'genres': movie['genres'], 'cast_id': [c1, c2, c3, c4, c5], 'cast': [n1, n2, n3, n4, n5], 'roles': [r1, r2, r3, r4, r5], 'summary': plot, 'cover_url': movie['full-size cover url']}, access = a, query = query)}}" method="POST">
              <div class="form-group">
                Rate this:
                <select class="form-control" name="user_rating">
                  <option value="0" selected>0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" name="status">
                  <option value="Completed" selected>Completed</option>
                  <option value="Watching">Watching</option>
                  <option value="Paused">Paused</option>
                  <option value="Planning">Planning</option>
                  <option value="Dropped">Dropped</option>
                </select>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          {% else %}
            <a href="{{url_for('description', id = movie['id'], movie_object = dict(movie), access = a)}}">
              <img src="{{movie['cover_url']}}" style="width:250px;height:375px;" alt="cover photo">
            </a>
            {% if movie['release'] != "" %}
              <div>{{movie['title']}} ({{movie['release'][7:11]}})</div>
            {% else %}
              <div>{{movie['title']}}</div>
            {% endif %}
            <div>Rating: {{movie['rating']}}</div>
            <div>Duration: {{movie['duration']}} minutes</div>
            <div>Genres: {{movie['genres']}}</div>
            <form action="{{url_for('add', id = movie['id'], movie_object = dict(movie), access = a, query = query)}}" method="POST">
              <div class="form-group">
                Rate this:
                <select class="form-control" name="user_rating">
                  <option value="0" selected>0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" name="status">
                  <option value="Completed" selected>Completed</option>
                  <option value="Watching">Watching</option>
                  <option value="Paused">Paused</option>
                  <option value="Planning">Planning</option>
                  <option value="Dropped">Dropped</option>
                </select>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          {% endif %}
        {% else %}
          {% if a == 'imdb' %}
          {% if 'cast' in movie.keys() %}
            {% if movie['cast'][0] in movie['cast'] %}
              {% set c1 = movie['cast'][0].personID %}
              {% set n1 = movie['cast'][0]['name'] %}
              {% if movie['cast'][0].currentRole|length > 1 %}
                {% set r1 = movie['cast'][0].currentRole[0]['name'] %}
              {% else %}
                {% set r1 = movie['cast'][0].currentRole['name'] %}
              {% endif %}
            {% else %}
              {% set c1 = "" %}
              {% set n1 = "" %}
              {% set r1 = "" %}
            {% endif %}
            {% if movie['cast'][1] in movie['cast'] %}
              {% set c2 = movie['cast'][1].personID %}
              {% set n2 = movie['cast'][1]['name'] %}
              {% if movie['cast'][1].currentRole|length > 1 %}
                {% set r2 = movie['cast'][1].currentRole[0]['name'] %}
              {% else %}
                {% set r2 = movie['cast'][1].currentRole['name'] %}
              {% endif %}
            {% else %}
              {% set c2 = "" %}
              {% set n2 = "" %}
              {% set r2 = "" %}
            {% endif %}
            {% if movie['cast'][2] in movie['cast'] %}
              {% set c3 = movie['cast'][2].personID %}
              {% set n3 = movie['cast'][2]['name'] %}
              {% if movie['cast'][2].currentRole|length > 1 %}
                {% set r3 = movie['cast'][2].currentRole[0]['name'] %}
              {% else %}
                {% set r3 = movie['cast'][2].currentRole['name'] %}
              {% endif %}
            {% else %}
              {% set c3 = "" %}
              {% set n3 = "" %}
              {% set r3 = "" %}
            {% endif %}
            {% if movie['cast'][3] in movie['cast'] %}
              {% set c4 = movie['cast'][3].personID %}
              {% set n4 = movie['cast'][3]['name'] %}
              {% if movie['cast'][3].currentRole|length > 1 %}
                {% set r4 = movie['cast'][3].currentRole[0]['name'] %}
              {% else %}
                {% set r4 = movie['cast'][3].currentRole['name'] %}
              {% endif %}
            {% else %}
              {% set c4 = "" %}
              {% set n4 = "" %}
              {% set r4 = "" %}
            {% endif %}
            {% if movie['cast'][4] in movie['cast'] %}
              {% set c5 = movie['cast'][4].personID %}
              {% set n5 = movie['cast'][4]['name'] %}
              {% if movie['cast'][4].currentRole|length > 1 %}
                {% set r5 = movie['cast'][4].currentRole[0]['name'] %}
              {% else %}
                {% set r5 = movie['cast'][4].currentRole['name'] %}
              {% endif %}
            {% else %}
              {% set c5 = "" %}
              {% set n5 = "" %}
              {% set r5 = "" %}
            {% endif %}
          {% else %}
            {% set c1 = "" %}
            {% set n1 = "" %}
            {% set r1 = "" %}
            {% set c2 = "" %}
            {% set n2 = "" %}
            {% set r2 = "" %}
            {% set c3 = "" %}
            {% set n3 = "" %}
            {% set r3 = "" %}
            {% set c4 = "" %}
            {% set n4 = "" %}
            {% set r4 = "" %}
            {% set c5 = "" %}
            {% set n5 = "" %}
            {% set r5 = "" %}
          {% endif %}
            {% if 'plot outline' in movie.keys() %}
              {% set plot = movie['plot outline'] %}
            {% else %}
              {% if 'plot' in movie.keys() %}
                {% set plot = movie['plot'][0] %}
              {% else %}
                {% set plot = "NA" %}
              {% endif %}
            {% endif %}
            {% if 'runtimes' in movie.keys() %}
              {% set duration = movie['runtimes'][0] %}
            {% else %}
              {% set duration = "NA" %}
            {% endif %}
            {% if 'rating' in movie.keys() %}
              {% set rating = movie['rating'] %}
            {% else %}
              {% set rating = "NA" %}
            {% endif %}
            {% if 'series years' in movie.keys() %}
              {% set years = movie['series years'] %}
            {% else %}
              {% set years = "" %}
            {% endif %}
            <a href="{{url_for('description', id = movie.movieID, movie_object = {'id': movie.movieID, 'title': movie['title'], 'kind': movie['kind'], 'release': years, 'rating': rating, 'duration': duration, 'genres': movie['genres'], 'seasons': movie['number of seasons'], 'episodes': movie['number of episodes'], 'cast':[n1, n2, n3, n4, n5], 'cast_id': [c1, c2, c3, c4, c5], 'roles': [r1, r2, r3, r4, r5], 'summary': plot, 'cover_url': movie['full-size cover url']}, access = a)}}">
              <img src="{{movie['full-size cover url']}}" style="width:250px;height:375px;" alt="cover photo">
            </a>
            {% if years[-1] == '-' %}
              <div>{{movie['title']}} ({{years}}Ongoing)</div>
            {% else %}
              <div>{{movie['title']}} ({{years}})</div>
            {% endif %}
            <div>Seasons: {{movie['number of seasons']}}</div>
            <div>Rating: {{movie['rating']}}</div>
            <div>Genres: {{movie['genres']}}</div>
            <form action="{{url_for('add', id = movie.movieID, movie_object = {'id': movie.movieID, 'title': movie['title'], 'kind': movie['kind'], 'release': movie['series years'], 'rating': rating, 'duration': duration, 'genres': movie['genres'], 'seasons': movie['number of seasons'], 'episodes': movie['number of episodes'], 'cast_id': [c1, c2, c3, c4, c5], 'cast': [n1, n2, n3, n4, n5], 'roles': [r1, r2, r3, r4, r5], 'summary': plot, 'cover_url': movie['full-size cover url']}, access = a, query = query)}}" method="POST">
              <div class="form-group">
                Rate this:
                <select class="form-control" name="user_rating">
                  <option value="0" selected>0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" name="status">
                  <option value="Completed" selected>Completed</option>
                  <option value="Watching">Watching</option>
                  <option value="Paused">Paused</option>
                  <option value="Planning">Planning</option>
                  <option value="Dropped">Dropped</option>
                </select>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          {% else %}
            <a href="{{url_for('description', id = movie['id'], movie_object = dict(movie), access = a)}}">
              <img src="{{movie['cover_url']}}" style="width:250px;height:375px;" alt="cover photo">
            </a>
            {% if movie['release'][-1] == '-' %}
              <div>{{movie['title']}} ({{movie['release']}}Ongoing)</div>
            {% else %}
              <div>{{movie['title']}} ({{movie['release']}})</div>
            {% endif %}
            <div>Season: {{movie['seasons']}}</div>
            <div>Rating: {{movie['rating']}}</div>
            <div>Genres: {{movie['genres']}}</div>
            <form action="{{url_for('add', id = movie['id'], movie_object = dict(movie), access = a, query = query)}}" method="POST">
              <div class="form-group">
                Rate this:
                <select class="form-control" name="user_rating">
                  <option value="0" selected>0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" name="status">
                  <option value="Completed" selected>Completed</option>
                  <option value="Watching">Watching</option>
                  <option value="Paused">Paused</option>
                  <option value="Planning">Planning</option>
                  <option value="Dropped">Dropped</option>
                </select>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          {% endif %}
        {% endif %}
        </div>
    {% endfor %}
  </div>
{% endblock %}
