{% extends "layout.html" %}

{% block heading %}
  {{curruser}}'s Watched List
{% endblock %}

{% block body %}
  <a href="/">Home</a>
  <a href = "/">Hey {{curruser}}</a>
  <a href = "/logout">Logout</a>
  <br><br>
  {% for m in movies %}
    <img src="{{m['cover_url']}}" style="width:100px;height:150px;margin-left:5px;margin-right:15px;float:left;" alt="cover photo">
    <h6>
      <br>
      <div>{{loop.index}}. Title: {{m.title}}</div>
      <div>Release Date: {{m.release_date}}</div>
      <div>Duration: {{m.duration}} minutes</div>
      <div>Rating: {{m.rating}}</div>
      <div>Genres: {{m.genres}}</div>
      <div>Cast: {{m.cast}}</div>
    </h6>
    <br>
  {% endfor %}
{% endblock %}
