{% extends "layout.html" %}

{% block heading %}
  {{curruser}}'s Watched List
{% endblock %}

{% block body %}
  <a href="/">Home</a>
  <a href = "/">Hey {{curruser}}</a>
  <a href = "/logout">Logout</a>
  <br><br>
  <div class="grid-container">
    {% for m in movies %}
      <div class="grid-item">
        <a href="{{url_for('description', id = m['id'], movie_object = dict(m), access = 'local')}}">
          <img src="{{m['cover_url']}}" style="width:250px;height:375px;" alt="cover photo">
        </a>
        {% if 'movie' in m['kind'] %}
          <div>{{m.title}} ({{m.release[7:11]}})</div>
          <div>Duration: {{m.duration}} minutes</div>
        {% else %}
          <div>{{m.title}} ({{m.release}})</div>
          <div>Avg. Duration: {{m.duration}} minutes</div>
        {% endif %}
        <div>Your Rating: {{ratings[loop.index-1]}}/10</div>
        <div>Genres: {{m.genres}}</div>
        <form action="{{url_for('removeWatched', id = m['id'])}}">
            <button type="submit" class="btn btn-primary">Remove</button>
        </form>
      </div>
    {% endfor %}
  </div>
{% endblock %}
